<h3>Dark mode</h3>
<img id="darkLight" onclick="modeSwitcher()">

<script type="text/javascript">
	function modeSwitcher() {
		var x = localStorage.getItem('theme');
		if (x === 'dark') {
			localStorage.setItem("theme", "light");
			document.getElementById("main").classList.remove("dark");
			document.getElementById("darkLight").src = "/assets/images/dark.png";
		} else {
			localStorage.setItem("theme", "dark");
			document.getElementById("main").classList.add("dark");
			document.getElementById("darkLight").src = "/assets/images/light.png";
		}
	}

	$(document).ready(function(){
		var theme = localStorage.getItem('theme');
		if (theme === 'dark') {
			document.getElementById("main").classList.add("dark");
			document.getElementById("darkLight").src = "/assets/images/light.png";
		} else {
			localStorage.setItem("theme", "light");
			document.getElementById("darkLight").src = "/assets/images/dark.png";
		}
	});
</script>
